@import "./partials/animations.css";
@import "./partials/blocks.css";
@import "./partials/code.css";
@import "./partials/collab.css";
@import "./partials/lists.css";
@import "./partials/placeholder.css";
@import "./partials/table.css";
@import "./partials/typography.css";

.ProseMirror {
  @apply caret-black dark:caret-white outline-0 z-0 mx-auto max-w-4xl;
}

/* .ProseMirror .selection */
.ProseMirror .selection {
  @apply inline;
}

/* selection styles */
.ProseMirror .selection,
.ProseMirror *::selection {
  @apply bg-black/10 dark:bg-white/20 inline;
}

/* direct children .react-renderer */
.ProseMirror > .react-renderer {
  @apply my-12 first:mt-0 last:mb-0;
}

/* resize cursor state */
.ProseMirror.resize-cursor {
  @apply cursor-col-resize;
}

/* gapcursor wrapper */
.ProseMirror .ProseMirror-gapcursor {
  @apply relative w-full max-w-2xl mx-auto;
}

/* gapcursor line */
.ProseMirror .ProseMirror-gapcursor::after {
  content: "";
  @apply border-t-black/40 dark:border-t-white/40 w-full -top-[1.5em] max-w-2xl mx-auto left-0 right-0;
}

/* editable variant */
.ProseMirror.editable {
  @apply caret-black dark:caret-white outline-0 p-4;
}

/* editable direct children */
.ProseMirror.editable > * {
  @apply ml-[80px];
}

[data-theme="slash-command"] {
  width: 1000vw;
}
